{% extends 'base.html' %}
{% block content %}
    <div class="about">
        <div class="image">
            <img src="{{user_image}}" alt="my profile photo">
        </div>
        <div class="olatunji">
            <h2 style="text-decoration: underline;">About</h2>
            <h3 style="margin-bottom: 10px;">Who is Olatunji Olasunkanmi?</h3>
            <p>Olatunji Olasunkanmi is a 200L Student of the department of Actuarial Science in University of Lagos. His love and Passion for Tech made him apply for Altschool Africa Diploma in Software Engineering degree where he is currently studying Backend Software Development Track. With the knowledge garnered so far from Altschool Africa, he has been able to work on some basic frontend projects, one of it is an EDUTECH platform. This Blog website happens to be his first backend project.</p>
        </div>
    </div>
{% endblock content %}